
  .modal-header, h4, .close {
      background-color: #000;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
  input.ng-valid.ng-dirty{
    border:1px solid lightblue;
  }
input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
.email{
margin-left:15px;
color:#fff;
background-color:black;
font-size:16px;padding:15px;

}